:host {
    --loading-size: 100px;
    --loading-width: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
}

flux-loading {
    height: 100%;
    width: 100%;
}
