:host {
    align-items: center;
    display: flex;
    height: calc(var(--loading-spinner-size) * 1.2);
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
}

:host::before {
    animation: loading 800ms infinite;
    border-radius: var(--loading-spinner-size);
    border-top: var(--loading-spinner-width) solid var(--loading-spinner-color);
    content: "";
    display: block;
    height: var(--loading-spinner-size);
    width: var(--loading-spinner-size);
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
